### CREATE .h5 data

In [1]:
import h5py as h5 ###* A library to read and write hdf5 files
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
base_path = '..\\dataset\\ESTATICAS'

letters = os.listdir(base_path) ###* List of the letters to write in hdf5
data = {}   ###* Dictionary to store the data of the letters
for letter in letters:
    letter_path = os.path.join(base_path, f'{letter}') ###* Path to the folder of the letter
    csv_files = [f for f in os.listdir(letter_path) if f.endswith('.csv')] ###* List of the csv files in the folder
    # print(csv_files) 
    positions = [] ###* List to store the positions of the letter
    for csv_file in csv_files: ###* Iterate over the csv files
        file_path = os.path.join(letter_path, csv_file) ###* Path to the csv file
        df = pd.read_csv(file_path, header=0 ) ###* Read the csv file
        positions.append(df.values.reshape(df.values.shape[0]*df.values.shape[1],1)) ###* Append the values of the csv file to the list
    positions = np.concatenate(positions, axis=1) ###* Concatenate the values of the cs
    data[letter] = positions ###* Concatenate the positions of the letter

In [3]:
for letter in letters:
    print(f'{letter}: {data[letter].shape}')

A: (84, 192)
B: (84, 200)
C: (84, 200)
D: (84, 200)
E: (84, 200)
F: (84, 200)
G: (84, 200)
H: (84, 200)
I: (84, 200)
L: (84, 198)
M: (84, 200)
N: (84, 193)
O: (84, 202)
P: (84, 203)
R: (84, 200)
S: (84, 203)
T: (84, 202)
U: (84, 204)
V: (84, 208)
W: (84, 161)
Y: (84, 163)

### FIRST dimension are the positions the second is the number of examples
### letter.shape -> (nx,m) nx son las caracteristicas y m son el numero de repeticiones

### ALL mi positions for letters are flatenned

In [4]:
df

     cx  cxROI   cy  cyROI
0   374    116  639    506
1   382    119  542    429
2   417    129  442    350
3   437    136  364    288
4   422    131  305    241
5   492    153  431    341
6   597    186  453    359
7   566    176  483    383
8   525    163  487    386
9   513    159  484    383
10  602    187  506    401
11  570    177  530    420
12  536    167  532    421
13  528    164  545    432
14  607    189  559    443
15  579    180  576    456
16  544    169  576    456
17  540    168  608    482
18  628    195  609    482
19  679    211  618    490
20  723    225  619    490

### This make sense because we have 200 csv files, and for each csv we have a 21X4 data

#### Let's to write a.h5 file to store all the data

In [5]:
with h5.File('..\\features\\positions_all_statics.h5', 'w') as h5file:
    for letter, positions in data.items():
        grp = h5file.create_group(letter)
        grp.create_dataset('positions', data=positions)

### Let's to visualizase our dataset of 6 letters

In [7]:
dataset = h5.File('..\\features\\positions_all_statics.h5', 'r')
type(dataset)

h5py._hl.files.File

In [9]:
with h5.File('..\\features\\positions_all_statics.h5', 'r') as h5file:
    data = []
    labels = []
    for letter in h5file.keys():
        positions = h5file[letter]['positions'][:]
        data.append(positions)
        print(positions.shape)
        labels.extend([letter]  )

labels = np.array(labels)
labels = np.reshape(labels, (labels.shape[0], 1))

(84, 192)
(84, 200)
(84, 200)
(84, 200)
(84, 200)
(84, 200)
(84, 200)
(84, 200)
(84, 200)
(84, 198)
(84, 200)
(84, 193)
(84, 202)
(84, 203)
(84, 200)
(84, 203)
(84, 202)
(84, 204)
(84, 208)
(84, 161)
(84, 163)

In [10]:
labels

array([['A'],
       ['B'],
       ['C'],
       ['D'],
       ['E'],
       ['F'],
       ['G'],
       ['H'],
       ['I'],
       ['L'],
       ['M'],
       ['N'],
       ['O'],
       ['P'],
       ['R'],
       ['S'],
       ['T'],
       ['U'],
       ['V'],
       ['W'],
       ['Y']], dtype='<U1')