### CREATE .h5 data

In [1]:
import h5py as h5 ###* A library to read and write hdf5 files
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
base_path = 'C:\\Users\\hgera\\OneDrive\\Escritorio\\PY4E\\Keet\\Datasets\\Caras_2'
faces = os.listdir(base_path) ###* List of the letters to write in hdf5
faces

['Enojo', 'Feliz', 'Neutral', 'Sorpresa', 'Triste']

In [3]:
data = {}   ###* Dictionary to store the data of the letters
for face in faces:
    face_path = os.path.join(base_path, f'{face}') ###* Path to the folder of the letter
    csv_files = [f for f in os.listdir(face_path) if f.endswith('.csv')] ###* List of the csv files in the folder
    # print(csv_files) 
    positions = [] ###* List to store the positions of the letter
    for csv_file in csv_files: ###* Iterate over the csv files
        file_path = os.path.join(face_path, csv_file) ###* Path to the csv file
        df = pd.read_csv(file_path, header=0 ) ###* Read the csv file
        df = df.drop(columns=['cz'])
        positions.append(df.values.reshape(df.values.shape[0]*df.values.shape[1],1)) ###* Append the values of the csv file to the list
    positions = np.concatenate(positions, axis=1) ###* Concatenate the values of the cs
    data[face] = positions ###* Concatenate the positions of the letter

In [4]:
for face in faces:
    print(f'{face}: {data[face].shape}')

Enojo: (936, 1309)
Feliz: (936, 3722)
Neutral: (936, 4018)
Sorpresa: (936, 1233)
Triste: (936, 3912)

In [5]:
# del faces[0] ###* Delete the face 'Disgusto'
# del faces[0] ###* Delete the face 'Enojo'
# del faces[1] ###* Delete the face 'Miedo'
# del data['Disgusto'] ###* Delete the face 'Disgusto'
# del data['Enojo'] ###* Delete the face 'Enojo'

In [6]:
faces

['Enojo', 'Feliz', 'Neutral', 'Sorpresa', 'Triste']

In [7]:
for face in faces:
    data[face] = data[face][:,:1233] ###* Take the first  values of the faces
for face in faces:
    print(f'{face}: {data[face].shape}')

Enojo: (936, 1233)
Feliz: (936, 1233)
Neutral: (936, 1233)
Sorpresa: (936, 1233)
Triste: (936, 1233)

### FIRST dimension are the positions the second is the number of examples
### face.shape -> (nx,m) nx are the caracteristics and m is the number of examples

### ALL mi positions for letters are flatenned

In [8]:
df

           cx        cy
0    0.507080  0.687547
1    0.506507  0.585617
2    0.505673  0.623980
3    0.481656  0.494654
4    0.506479  0.554580
..        ...       ...
463  0.574601  0.445178
464  0.558181  0.448533
465  0.549747  0.449653
466  0.705346  0.438701
467  0.719566  0.431056

[468 rows x 2 columns]

### This make sense because we have m csv files, and for each csv we have a 468X3 data

#### Let's to write a.h5 file to store all the data

In [9]:
with h5.File('C:\\Users\\hgera\\OneDrive\\Escritorio\\PY4E\\Keet\\Codes\\NN_FACES\\positions_FACES.h5', 'w') as h5file:
    for face, positions in data.items():
        grp = h5file.create_group(face)
        grp.create_dataset('positions', data=positions)

### Let's to visualizase our dataset of 5 emotions

In [10]:
dataset = h5.File('C:\\Users\\hgera\\OneDrive\\Escritorio\\PY4E\\Keet\\Codes\\NN_FACES\\positions_FACES.h5', 'r')
# type(dataset)

In [11]:
with h5.File('C:\\Users\\hgera\\OneDrive\\Escritorio\\PY4E\\Keet\\Codes\\NN_FACES\\positions_FACES.h5', 'r') as h5file:
    data = []
    labels = []
    for letter in h5file.keys():
        positions = h5file[letter]['positions'][:]
        data.append(positions)
        print(positions.shape)
        labels.extend([letter]  )

labels = np.array(labels)
labels = np.reshape(labels, (labels.shape[0], 1))

(936, 1233)
(936, 1233)
(936, 1233)
(936, 1233)
(936, 1233)

In [12]:
labels

array([['Enojo'],
       ['Feliz'],
       ['Neutral'],
       ['Sorpresa'],
       ['Triste']], dtype='<U8')